
@media audio, screen and (max-width: 550px){
    img{
        float: left;
        width: 30%;
        height: 120px;
        margin: 1.66%;
    }
    .inner-container>div{
        flex-basis: 100px;
        margin-bottom: 3px;
          
    }
    .contact-container>div{
        flex-basis: 300px
        
    }
    #submit{
        width: 223px;
        height: 30px;
    }
    .mapouter{
        position:relative;
        text-align:right;
        height:156px;
        width:223px;
    }
    .gmap_canvas {
        overflow:hidden;
        background:none!important;
        height:156px;
        width:223px;
    }  
}


/* common */

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-style: normal;
    color:black;
}
.navigation{
    display: flex;
    flex-flow: row wrap;
    height: 30px;
    font-size: 26px;  
}
.navigation>div>a{
    font-size: 20px;
    text-decoration: none;
    padding-right: 25px;
}
.navigation>div>a:hover{
    color:white;
}
nav{
    border-bottom: black solid 2px;
    border-top: black solid 2px;
}
#profile{
    width: 225px;
    height: 225px;
    border-radius: 80%;
    margin-top: 10%;  
}
.profile-container{
    display:flex;
    flex-flow: row wrap;
}
.profile-container>div{
    margin: 20px 0 0 20px;
}
#info{
    margin-top: 20px;
    padding-top: 50px;
}
.clear{
    clear: left;
}
a{
    text-decoration: none;
    color: black;
}


/* index */
.index-container{
    display: flex;
    flex-direction: column;
}
.inner-index-container{
    display: flex;
    flex-direction: column;
}
.inner-row{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}
.inner-row>div{
    flex-basis: 400px;
    align-content: center;
}
.titles{
    border-top: black solid 1px;
    padding: 5px 2px 5px;
}
h4{
    margin: 2px 3px;
}



/* contact */

#contact{
    border-top: black solid 2px;
}
.contact-container{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.outer-container{
    display:flex;
    flex-flow:column wrap;
    align-content: stretch;
}
.inner-container{
    
    display:flex;
    flex-flow: row wrap;   
}
.inner-container>div{
    flex-basis: 175px;
    margin-bottom: 3px;
    flex-shrink: unset;
}
form{
    align-content: center;
    margin: 10px 50px 20px 20px;  
}
input{
    width: 228px;
}
.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:600px;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:600px;
}
.radio{
    width: unset;
}
#submit{
    width: 408px;
    height: 30px;
}


/* gallery */

#gallery{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    border-bottom: solid 5px grey;
    width: auto;
} 
@media screen and (min-width: 1024px) {
    img{
        float: left;
        width: 30%;
        height: 300px;
        margin: 1.66%;
    }
}
@media audio, screen and (max-width: 1023px){
    img{
        float: left;
        width: 30%;
        height: 200px;
        margin: 1.66%;
    }
}



/* blog */

header{
    background-color:lightgray;
    position: fixed;
    top: 0;
    width: 100%;

}
section{
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif; 
    /* border: solid 1px; */
    padding:5px 30px ;
}
article{
    line-height: 25px;
    font-size: 15px;
    text-align: justify;
}
.title{
font-size: 23px;
font-weight: bold;
}
.date{
    font-style: italic;
    font-size: 15px;
    text-transform: uppercase;
}


