#title{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    border-bottom: solid 5px grey;
    width: auto;
}
nav{
    border-bottom: grey solid 2px;
    border-top: grey solid 2px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-style: normal;
}
table{
    width: 100%;
    padding-bottom: 10px;
}
img{
    float: left;
    width: 30%;
    height: 300px;
    margin: 1.66%;
}
.clear{
    clear: left;
}
#profile{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    float: left;
    margin-right: 20px;
}
#info{
    border-bottom: grey solid 2px;
}
#contact{
    border-top: grey solid 2px;
}
label{
    float: left;
    padding: 2px;
}
form{
    align-content: center;
    float: left;
    margin: 10px 50px 20px 20px;
}
.mapouter{
    position:relative;
    text-align:right;
    height:500px;
    width:600px;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:500px;
    width:600px;
}

.radio{
    float: none;
}
a{
    text-decoration: none;
}
#submit{
    width: 430px;
    height: 30px;
}
#fName{
    margin-left: 100px;
}
#sName{
    margin-left: 105px;
}
#eMail{
    margin-left: 142px;
}
#pw{
    margin-left: 112px;
}
#tel{
    margin-left: 76px;
}
#country{
    margin-left: 34px;
}
#txarea{
    margin-left: 3px;
}
input{
    
    
}
